.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.button-filled,
.button-outlined {
  display: flex;
  gap: var(--button-gap);
  padding: var(--button-padding);
  border: 0 solid transparent;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  min-height: 2.2rem;

  &:focus-visible {
    outline: var(--button-focus-outline);
    border-color: var(--button-focus-border-color);
  }
}

.button-filled {
  background-color: var(--button-filled-bgcolor);
  color: var(--button-filled-color);
  border-color: var(--button-filled-border-color);
  border-width: var(--button-filled-border-width);

  &:hover {
    background-color: var(--button-filled-hover-bgcolor);
    color: var(--button-filled-hover-color);
    border-color: var(--button-filled-hover-border-color);
  }

  &:active {
    background-color: var(--button-filled-active-bgcolor);
    color: var(--button-filled-active-color);
    border-color: var(--button-filled-active-border-color);
  }
}

.button-outlined {
  background-color: var(--button-outlined-bgcolor);
  color: var(--button-outlined-color);
  border-color: var(--button-outlined-border-color);
  border-width: var(--button-outlined-border-width);

  &:hover {
    background-color: var(--button-outlined-hover-bgcolor);
    color: var(--button-outlined-hover-color);
    border-color: var(--button-outlined-hover-border-color);
  }

  &:active {
    background-color: var(--button-outlined-active-bgcolor);
    color: var(--button-outlined-active-color);
    border-color: var(--button-outlined-active-border-color);
  }
}

.page-wrapper {
  max-width: 100ch;
  width: fit-content;
  margin-inline: auto;
  padding-inline: 1rem;
  margin-block-start: 1rem;
}

.form {
  display: grid;
  gap: var(--form-gap);
  width: min(60ch, 90vw);
  margin-block-start: 2rem;
}

.button-row {
  display: flex;
  gap: 0.5rem;
}

.card {
  color: var(--card-color);
  background-color: var(--card-bgcolor);
  border: 1px solid var(--card-border-color);
  border-radius: 2rem;
  padding: 1.5rem;
}
