.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.button-filled,
.button-outlined {
  display: flex;
  gap: var(--button-gap);
  padding: var(--button-padding);
  border: 0 solid transparent;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  min-height: 2.5rem;
  align-items: center;

  &:focus-visible {
    outline: var(--button-focus-outline);
    border-color: var(--button-focus-border-color);
  }
}

.button-filled {
  background-color: var(--button-filled-bgcolor);
  color: var(--button-filled-color);
  border-color: var(--button-filled-border-color);
  border-width: var(--button-filled-border-width);

  @media (hover: hover) {
    &:hover {
      background-color: var(--button-filled-hover-bgcolor);
      color: var(--button-filled-hover-color);
      border-color: var(--button-filled-hover-border-color);
    }
  }

  &:active {
    background-color: var(--button-filled-active-bgcolor);
    color: var(--button-filled-active-color);
    border-color: var(--button-filled-active-border-color);
  }
}

.button-outlined {
  background-color: var(--button-outlined-bgcolor);
  color: var(--button-outlined-color);
  border-color: var(--button-outlined-border-color);
  border-width: var(--button-outlined-border-width);

  @media (hover: hover) {
    &:hover {
      background-color: var(--button-outlined-hover-bgcolor);
      color: var(--button-outlined-hover-color);
      border-color: var(--button-outlined-hover-border-color);
    }
  }

  &:active {
    background-color: var(--button-outlined-active-bgcolor);
    color: var(--button-outlined-active-color);
    border-color: var(--button-outlined-active-border-color);
  }
}

.page-wrapper {
  display: grid;
  max-width: 90ch;
  margin-inline: auto;
  padding: 1rem;
}

.form {
  display: grid;
  gap: var(--form-gap);
}

.button-row {
  display: flex;
  gap: 0.5rem;
}

.card {
  display: block;
  color: var(--card-color);
  background-color: var(--card-bgcolor);
  border: 1px solid var(--card-border-color);
  border-radius: 2rem;
  padding: 1.5rem;

  > hgroup {
    margin-block: 0 0.5rem;
  }

  .title {
    margin-block: 0 0.5rem;
  }

  .subtitle {
    margin-block: 0 0.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--color-muted);
  }

  &.clickable {
    transition-property: box-shadow, background-color, color, border-color;
    transition: 200ms;

    @media (hover: hover) {
      &:hover {
        color: var(--card-hover-color);
        background-color: var(--card-hover-bgcolor);
        border-color: var(--card-hover-border-color);
        box-shadow: var(--card-hover-shadow);
        text-decoration: none;
      }
    }

    &:active {
      transition-duration: 50ms;
      color: var(--card-active-color);
      background-color: var(--card-active-bgcolor);
      border-color: var(--card-active-border-color);
      box-shadow: var(--card-active-shadow);
      text-decoration: none;
    }
  }

  &:focus-visible {
    transition-duration: 50ms;
    background-color: var(--card-focus-background-color);
    outline: var(--card-focus-outline);
    border-color: var(--card-focus-border-color);
  }
}

.separator {
  border-bottom: 1px solid var(--border-color);
}

.details-list {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem 1.5rem;
  margin: 0;

  dt {
    grid-column-start: 1;
    font-weight: 700;
  }

  dd {
    margin: 0;
    grid-column-start: 2;

    &.field {
      border: 1px solid transparent;
      padding-block: 0.25rem;
      padding-inline: 0.5rem;
      border-radius: 0.3125rem;
    }
  }
}

.error-list {
  margin: 0;
  padding-inline-start: 1rem;
}

.error-item {
  list-style: none;
  color: var(--error-color);
}

.success-message {
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--dialog-color);
  border: 1px solid var(--success-color);
  background-color: light-dark(
    rgb(from var(--success-color) r g b / 0.1),
    rgb(from var(--success-color) r g b / 0.2)
  );
}

.error-message {
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--dialog-color);
  border: 1px solid var(--error-color);
  background-color: light-dark(
    rgb(from var(--error-color) r g b / 0.1),
    rgb(from var(--error-color) r g b / 0.2)
  );
}
