@import 'components.css';
@import 'variables.css';

:root {
  font-family: system-ui, sans-serif;
  color-scheme: light dark;
  accent-color: var(--accent-color);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
  background-color: var(--bgcolor);
  color: var(--color);
}

button,
input,
select,
textarea {
  font: inherit;
}

img {
  max-width: 100%;
}

:where(a) {
  color: var(--link-color);
  text-decoration: none;

  :where(&:hover) {
    color: var(--link-hover-color);
    text-decoration: underline;
  }

  :where(&:active) {
    color: var(--link-active-color);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hgroup {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 1rem;

  &:last-child {
    margin-block-end: 0;
  }
}

h1 {
  font-size: 3rem;
  margin-block: 1rem 2rem;
}

h2 {
  font-size: 1.75rem;
}
