:root {
  --icon-size: 1.5rem;

  --bgcolor: light-dark(white, hsl(0 0% 8%));
  --color: light-dark(hsl(0 0% 8%), white);
  --color-muted: rgb(from var(--color) r g b / 0.75);
  --accent-color: light-dark(rgb(0 126 7), rgb(100, 211, 106));
  --on-accent-color: light-dark(white, black);
  --border-color: rgb(from var(--color) r g b / 0.35);
  --field-bgcolor: light-dark(white, #303030);
  --field-color: light-dark(black, white);
  --error-color: light-dark(rgb(209, 0, 0), rgb(255, 104, 104));
  --on-error-color: light-dark(white, black);

  --backdrop-color: light-dark(rgb(0 0 0 / 0.25), rgb(0 0 0 / 0.65));

  --focus-outline: 5px solid rgb(from var(--accent-color) r g b / 0.5);
  --focus-border-color: var(--accent-color);

  --header-color: var(--color);
  --header-bgcolor: light-dark(white, hsl(0 0% 14%));
  --header-border-color: var(--border-color);

  --card-color: var(--color);
  --card-bgcolor: light-dark(hsl(0 0% 94%), hsl(0 0% 16%));
  --card-border-color: transparent;
  --card-shadow: none;
  --card-focus-outline: var(--focus-outline);
  --card-focus-background-color: var(--card-active-bgcolor);
  --card-focus-border-color: var(--focus-border-color);

  --card-hover-color: var(--color);
  --card-hover-bgcolor: light-dark(hsl(0 0% 94%), hsl(0 0% 18%));
  --card-hover-border-color: transparent;
  --card-hover-shadow: 0 10px 16px
    light-dark(rgb(0 0 0 / 0.35), rgb(0 0 0 / 0.9));

  --card-active-color: var(--color);
  --card-active-bgcolor: light-dark(hsl(0 0% 85%), hsl(0 0% 24%));
  --card-active-border-color: transparent;
  --card-active-shadow: 0 5px 8px
    light-dark(rgb(0 0 0 / 0.45), rgb(0 0 0 / 0.9));

  --link-color: var(--accent-color);
  --link-hover-color: color-mix(in oklch, var(--link-color) 80%, var(--color));
  --link-active-color: color-mix(in oklch, var(--link-color) 70%, var(--color));

  --dialog-color: var(--color);
  --dialog-bgcolor: light-dark(hsl(0 0% 100%), hsl(0 0% 14%));
  --dialog-border-color: var(--border-color);
  --dialog-shadow: 0 0 32px 2px light-dark(rgb(0 0 0 / 0.35), rgb(0 0 0 / 0.6));

  /* Buttons */
  --button-padding: 0.375rem 1rem;
  --button-gap: 0.5rem;
  --button-border-radius: 0.5rem;
  --button-filled-base-color: var(--on-accent-color);
  --button-filled-base-bgcolor: var(--accent-color);
  --button-outlined-base-color: var(--accent-color);
  --button-focus-outline: var(--focus-outline);
  --button-focus-border-color: var(--focus-border-color);

  /* Filled buttons. */
  --button-filled-border-width: 0;
  --button-filled-bgcolor: var(--button-filled-base-bgcolor);
  --button-filled-color: var(--button-filled-base-color);
  --button-filled-border-color: transparent;

  --button-filled-hover-bgcolor: color-mix(
    in srgb,
    var(--button-filled-base-bgcolor) 80%,
    var(--button-filled-base-color)
  );
  --button-filled-hover-color: var(--button-filled-color);
  --button-filled-hover-border-color: var(--button-filled-border-color);

  --button-filled-active-bgcolor: color-mix(
    in srgb,
    var(--button-filled-base-bgcolor) 70%,
    var(--button-filled-base-color)
  );
  --button-filled-active-color: var(--button-filled-color);
  --button-filled-active-border-color: var(--button-filled-border-color);

  /* Outlined buttons */
  --button-outlined-border-width: 1px;
  --button-outlined-bgcolor: transparent;
  --button-outlined-color: var(--button-outlined-base-color);
  --button-outlined-border-color: var(--border-color);

  --button-outlined-hover-bgcolor: rgb(
    from var(--button-outlined-base-color) r g b / 0.15
  );
  --button-outlined-hover-color: var(--button-outlined-color);
  --button-outlined-hover-border-color: var(--button-outlined-border-color);

  --button-outlined-active-bgcolor: rgb(
    from var(--button-outlined-base-color) r g b / 0.25
  );
  --button-outlined-active-color: var(--button-outlined-color);
  --button-outlined-active-border-color: var(--button-outlined-border-color);

  --form-gap: 1rem;

  --input-bgcolor: var(--field-bgcolor);
  --input-color: var(--field-color);
  --input-border-color: var(--border-color);
  --input-border-radius: 0.5rem;
  --input-label-font-size: 0.9em;
  --input-label-padding: 0.5rem 0.5rem 0rem;
  --input-label-color: rgb(from var(--field-color) r g b / 0.75);
  --input-field-padding: 0.5rem 0.5rem;
  --input-focus-outline: var(--focus-outline);
  --input-focus-border-color: var(--focus-border-color);
}
